
ChefDelivery.xcodeproj/xcuserdata/igu.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ChefDelivery.xcodeproj/project.xcworkspace/xcuserdata/igu.xcuserdatad/UserInterfaceState.xcuserstate
ChefDelivery.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ChefDelivery.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ChefDelivery.xcodeproj/xcuserdata/igu.xcuserdatad/xcschemes/xcschememanagement.plist
ChefDelivery/.DS_Store
ChefDelivery/Assets.xcassets/.DS_Store
